html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bebas Neue", sanserif;
}

.main-container {
    min-height: calc(100vh - 60px);
}

.ant-layout .ant-layout-header {
    padding: 0;
}

.menuBar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
}

.logo {
    width: 200px;
    float: left;
}

.logo a {
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
}

.menuCon .rightMenu {
    float: right;
    display: none;
}

.barsMenu {
    float: right;
    height: 32px;
    padding: 6px;
    display: inline;
    background-image: url(../images/logotipo-variantes/Menu.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
}

.carMenu {
    display: flex;
    justify-content: center;
    height: 32px;
    padding: 6px;
    background: white;
    font-size: 1.2rem;
    color: #4d1227;
}

.barsBtn {
    display: block !important;
    visibility: hidden;
    width: 20px;
    height: 2px;
    background: white;
    position: relative;
}

.barsBtn:after,
.barsBtn:before {
    content: attr(x);
    width: 20px;
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    background: white;
}

.barsBtn:after {
    top: auto;
    bottom: -6px;
}

.ant-menu-title-content {
    text-align: center;
}

.ant-drawer-body {
    padding: 0;
}

.barsMenu>span {
    display: block;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item,
.ant-drawer-body .ant-menu-horizontal>.ant-menu-submenu {
    display: inline-block;
    width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item:hover {
    border-bottom-color: transparent;
}

@media (min-width: 767px) {

    .barsMenu {
        display: none;
    }

    .menuCon {
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 4px;
    }

    .menuCon .rightMenu {
        display: flex;
        width: 580px;
    }

    .rightMenu>ul {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        height: 50px;
        background: none;
    }

    .rightMenu li {

        background-color: white;
        padding: 5px 5px !important;
    }

    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
        width: 100%;
        padding: 1px 25px;
    }

    .logo a {
        padding: 5px 10px;
    }
}

/* Steps Styles */

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background: #fb923c;
    border-color: #fb923c;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bef264;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon span {
    color: #4d7c0f;
}