.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5px;
}

.ant-card {
    justify-self: center;
    width: 300px;
    height: fit-content;
}

.ant-card-cover {
    display: flex;
    justify-content: center;
    height: 150px;
}

.product-card-container {
    justify-self: center;
    align-self: center;
}

.ant-input-number .ant-input-number-input {
    text-align: center;
}